body {
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1c1b1b;
  background: #efefef;
  line-height: 1.65;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
  /* Убираем маркеры */
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/* хедер статичний чьорний */

.announcementBar {
  position: relative;
  text-align: center;

  z-index: 1;
  padding: 12px 15px;
  background-color: #1c1b1b;
  opacity: 1;
}
.text__header {
  font-size: 12px;
}

/* другачастина хедера */

.container {
}

.select__list {
  background-color: transparent;
  border: none;
  font-size: 10px;
}
.header__logo {
  display: flex;
  margin-right: 38px;
}
.header__nav-wrap {
  padding: 18px 30px;

  color: #1c1b1b;
  opacity: 1;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 10px; */
}
.header__nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header__nav__list {
  display: flex;
}
.header__nav__item {
}

.nav__category__list {
  display: flex;
  justify-content: center;
}
.header__nav__item {
  margin: 6px 14px;
}
.header__nav__link {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.nav__category__link {
  font-size: 12px;
}
.nav__category__item {
  margin: 6px 12px;
}
.heading {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.header__nav-wrap:focus {
  background-color: #ffffff;
}
.hero__img {
  /* position: absolute; */
  content: "";
  width: 100%;

  left: 0;
  top: 20px;
  z-index: -1;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(4, 4, 4, 0.65)),
    to(rgba(54, 54, 54, 0.2))
  );
  background-image: linear-gradient(
    to top,
    rgba(184, 50, 50, 0.65),
    rgba(223, 12, 12, 0.2)
  );
}
.hero {
  background-image: linear-gradient(
    to top,
    rgba(87, 85, 85, 0.65),
    rgba(68, 67, 67, 0.2)
  );
}

.collection {
  padding: 80px 50px;
  border-bottom: 1px solid #cfcfcf;
}
.collection__laibl {
  font-size: 12px;
  color: #1c1b1b;
  text-align: center;
  margin-bottom: 12px;
}
.collection__title {
  font-size: 20px;
  color: #1c1b1b;
  text-align: center;
  margin-bottom: 70px;
}

.collection__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 60px;
  margin-bottom: 80px;
}

.collection__img {
  width: 100%;
}
.collection__text {
  margin-top: 20px;
}
.name__title {
  color: #1c1b1b;
  font-size: 13px;
  margin-bottom: 4px;
  text-align: center;
}
.price {
  font-size: 13px;
  color: #6a6a6a;
  text-align: center;
}
.collection__btn {
  width: 246px;
  height: 46px;
  border: 1px solid black;
  background-color: #1c1b1b;

  padding: 14px 28px;
  line-height: normal;
  color: #efefef;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.2em;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-style: normal;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.collection__btn:hover,
.collection__btn:focus {
  color: #1c1b1b;
  background-color: #ffffff;
}

/* tshort */

.tshort {
  padding: 80px 50px;
}
.tshort__laibl {
  font-size: 12px;
  color: #1c1b1b;
  text-align: center;
  margin-bottom: 12px;
}
.tshort__title {
  font-size: 20px;
  color: #1c1b1b;
  text-align: center;
  margin-bottom: 70px;
}
/* video */
.video {
  height: 600px;
  /* padding: 300px; */
  background-image: url("../img/2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;

  flex-direction: column;
}
.video__img {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}
.video__container {
  justify-content: center;
  align-items: center;
}
.video__leibl {
  color: #f26262;
  font-size: 12px;
  margin-bottom: 16px;
  text-align: center;
}
.video__titel {
  color: #f26262;
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.video__btn {
  background-color: transparent;
  border: none;
  display: flex;
  margin: 0 auto;
  transition: transform 200ms linear;
}
.video__btn:hover,
.video__btn:focus {
  transform: scale(1.15);
}
.Icon {
  fill: #f26262;
}

/* payment */
.payment {
  margin-bottom: 15px;
  padding: 80px 0;
}
.payment__laibl {
  color: #1c1b1b;
  font-size: 12px;
  text-align: center;
  margin-bottom: 16px;
}
.payment__title {
  color: #1c1b1b;
  font-size: 20px;
  text-align: center;
  margin-bottom: 70px;
}
.payment__leibl {
  font-size: 12px;
  color: #1c1b1b;
  margin-bottom: 20px;
}
.payment__link {
  font-size: 18px;
  color: #1c1b1b;
  margin-bottom: 15px;
}
.payment__price {
  font-size: 16px;
  color: #6a6a6a;
  margin-bottom: 24px;
}
.text__conteiner {
  max-width: 400px;
  padding-top: 24px;
  border-top: 1px solid #cfcfcf;
  text-align: left;
}

.payment__info {
  display: flex;
  justify-content: center;
}
.payment__info__text {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}
.text__conteiner {
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1c1b1b;
  background: #efefef;
  line-height: 1.65;
  font-size: 15px;
}
.payment__text_leidl {
  margin-bottom: 20px;
}

.payment__text_list li {
  list-style-type: disc;
  /* Убираем маркеры */
}
.payment__text_list {
  margin-bottom: 10px;
}
strong {
  font-weight: 700;
}

/* footer */
.footer {
  padding: 75px 80px 42px;
  background: white;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
}
.footer__text {
  max-width: 380px;
}
.footer__text__title {
  color: #1c1b1b;
  font-size: 12px;
  margin-bottom: 20px;
}
.footer__text__leibl {
  font-family: Nunito Sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #6a6a6a;

  line-height: 1.65;
  font-size: 15px;
  margin-bottom: 24px;
}
.footer__text__info {
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #6a6a6a;

  line-height: 1.65;
  font-size: 15px;
  margin-bottom: 24px;
}
.footer__text__accent {
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #6a6a6a;

  line-height: 1.65;
  font-size: 15px;
  margin-bottom: 20px;
}
.footer__social-list {
  display: flex;
}
.footer__social-link:not(:last-child) {
  margin-right: 30px;
}
.footer__social-link {
  height: 15px;
}
svg {
  fill: #6a6a6a;
}
.footer__search-title {
  color: #1c1b1b;
  font-size: 12px;
  margin-bottom: 20px;
}
.footer__search-link {
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #6a6a6a;

  line-height: 1.65;
  font-size: 15px;
}
.footer__form {
  flex-basis: 295px;
  margin-bottom: 50px;
}
.footer__form__titel {
  font-size: 12px;
  margin-bottom: 20px;
  color: #1c1b1b;
}
.footer__form__text {
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #6a6a6a;

  line-height: 1.65;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 24px;
}
.footer__form__list {
  margin-bottom: 24px;
}
.footer__form__item:not(:last-child) {
  margin-bottom: 24px;
}
.footer__form__link {
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #6a6a6a;

  line-height: 1.65;
  font-size: 15px;
  text-decoration: underline;
  text-underline-position: under;
}
.footer__form_form {
  display: flex;
  flex-direction: column;
}
.footer__form__input {
  margin-bottom: 20px;
  height: 46px;
  width: 100%;
  border-radius: 0;
  border: 1px solid #1c1b1b;
}
.footer__form__input::placeholder {
  padding: 12px 14px;
}
.footer__form__btn {
  width: 157px;
  height: 44px;
  background: #1c1b1b;
  border: 0;
  color: #ffffff;
  padding: 14px 28px;
  line-height: normal;
  border: 1px solid transparent;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.2em;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-style: normal;
}
.footer__pay__link {
  font-size: 12px;
  color: #1c1b1b;
  margin-bottom: 4px;
}
.footer__pay__text {
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #6a6a6a;

  line-height: 1.65;
  font-size: 15px;
}
.footer__link__list {
  display: flex;
}
.footer__pay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
.footer__link__item:not(:last-child) {
  margin-right: 16px;
}
